.DS_Store
*.log
npm-debug.log*

artifacts/*.ptau
artifacts/*.zkey
artifacts/*.r1cs
artifacts/*.sym
artifacts/verification_key.json
artifacts/*_js/
artifacts/proof.json
artifacts/public.json
artifacts/witness.wtns

backend/node_modules/
backend/.env
backend/.env.*
backend/.nyc_output/
backend/coverage/
